# Compiled class files
*.class

# Log files
*.log

# Project/Build directories
out/
bin/
target/
build/

# IDE/Editor configurations
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*-checkpoint.ipynb
