.root-pane {
    -fx-background-color: #f5f7fb;
    -fx-font-family: "Arial";
}

.header-box {
    -fx-background-color: #2f5d8c;
    -fx-padding: 18;
}

.title-label {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.subtitle-label {
    -fx-text-fill: #e6eef7;
    -fx-font-size: 13px;
}

.form-grid {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-padding: 20;
}

.result-box {
    -fx-padding: 20;
    -fx-background-color: #eef3f8;
}

.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.button-box {
    -fx-padding: 15 25 15 25;
    -fx-background-color: white;
}

.primary-button {
    -fx-background-color: #2f5d8c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 18;
}

.secondary-button {
    -fx-background-color: #dddddd;
    -fx-text-fill: black;
    -fx-background-radius: 8;
    -fx-padding: 8 18;
}